<!-- <h3>
   <button class="btn btn-primary pull-right" type="button">
      <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice</button>Invoice</h3> -->


            <div class="page" ng-controller="P9aController">
         <div class="row" style="display: block;
width: auto;
height: auto;
overflow: visible;">
   <div class="col-lg-8 hidden-print">
        <form class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Period</div>
  
         <select name="period" class="slider slider-lg form-control" ng-model="user.year" ng-options="period.year as period.year for period in periods | unique:'year' ">

        <option value="" disabled selected>Periods</option>
  </select>
  </div>
  <button  ng-click="searchP9a(user)"   class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
  

 </div>
   </div>
<div class="panel">
   <div class="panel-body">
      
      
      <div class="table-responsive table-bordered">
        

<table class="table-bordered horiztbl" >
            <tbody>
<!--            
              <tr >
                  <td style="font-size:12px" colspan="15"> <div class=" text-center">
                   <h4><img class="img-responsive center-block" src="app/img/kralogo.jpg"  alt="App Logo" /></h4>
                  <address></address>Basilisa 2145
                  <br/>Mate, Cliff., 20145
                  <br/>Moon
                </div>
            </td> -->
                 
                
<!--                </tr>
                   <tr>
                  <td style="font-size:12px" colspan="15" class=" text-center"><h4>INCOME TAX DEPARTMENT</h4></td>
                 
               </tr> -->
                 <tr>
                  <td style="font-size:12px" colspan="15" class=" text-center"><img class="img-responsive center-block" src="app/img/kralogo.jpg"  alt="App Logo" height="50px" width="100px" /><h5>TAX DEDUCTION CARD YEAR {{p9as.year}}</h5></td>
                 
               </tr>
               
               <tr>
                  <td style="font-size:12px" colspan="15">P9A</td>
                 
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="2">EMPLOYER'S NAME:</td>
                  <td style="font-size:12px" colspan="2">{{p9as.employer.employerName}}</td>
                 <td style="font-size:12px" colspan="7"></td>
                  <td style="font-size:12px" colspan="2">EMPLOYER'S PIN:</td>
                  <td style="font-size:12px" colspan="2">{{p9as.employer.pinNumber}}</td>
               </tr>

                <tr>
                  <td style="font-size:12px" colspan="2">EMPLOYEE'S NAME:</td>
                  <td style="font-size:12px" colspan="2">{{p9as.employee.firstName}} {{p9as.employee.middleName}}</td>
               <td style="font-size:12px" colspan="7"></td>
                  <td style="font-size:12px" colspan="2">EMPLOYEE'S PIN:</td>
                  <td style="font-size:12px" colspan="2">{{p9as.employee.pinNumber}}</td>
               </tr>
                <tr>
                  <td style="font-size:12px" colspan="2">EMPLOYEE'S SURNAME:</td>
                  <td style="font-size:12px" colspan="2">{{p9as.employee.lastName}}</td>
              
                  
               
               </tr>

             <tr>
                  <td style="font-size:12px">MONTH</td>
                  <td style="font-size:12px" >BASIC PAY</td>
                  <td style="font-size:12px" >BENEFITS NON CASH</td>
                  <td style="font-size:12px">NET VALUE OF HOUSING</td>
                  <td style="font-size:12px">TOTAL GROSS PAY A+B+C</td>
                  <td style="font-size:12px" colspan="3">DEFINED CONTRIBUTION RETIREMENT SCHEME</td>
                  
                  <td style="font-size:12px">OWNER OCCUPIED INTEREST</td>
                  <td style="font-size:12px">RETIREMENT CONTRIBUTION AND OWNER OCCUPIED INTEREST</td>
                  <td style="font-size:12px">CHARGEABLE
PAY
COL D - G</td>
                  <td style="font-size:12px" >TAX CHARGED</td>
                  <td style="font-size:12px">PERSONAL RELIEF</td>
                  <td style="font-size:12px">INSURANCE RELIEF</td>
                  <td style="font-size:12px">P.A.Y.E. TAX</td>
               </tr>
               <tr>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px">E1 30% of A</td>
                  <td style="font-size:12px">E2 ACTUAL CONTRIBUTION</td>
                  <td style="font-size:12px">E3 LEGAL LIMIT</td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px" ></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px" ></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
               </tr>
               <tr>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px">(A)</td>
                  <td style="font-size:12px">(B)</td>
                  <td style="font-size:12px">(C)</td>
                  <td style="font-size:12px">(D)</td>
                  <td style="font-size:12px">(E1)</td>
                  <td style="font-size:12px">(E2)</td>
                  <td style="font-size:12px">(E3)</td>
                  <td style="font-size:12px">(F)</td>
                  <td style="font-size:12px">(G)</td>
                  <td style="font-size:12px">(H)</td>
                  <td style="font-size:12px">(I)</td>
                  <td style="font-size:12px">(J)</td>
                  <td style="font-size:12px">(K)</td>
                  <td style="font-size:12px">(L)</td>
               </tr>
               <tr  ng-repeat="p9a in p9as.p9aReportDataList">
                  <td style="font-size:12px">{{p9a.month}}</td>
                  <td style="font-size:12px">{{p9a.basicPay}}</td>
                  <td style="font-size:12px">{{p9a.nonCashBenefits}}</td>
                  <td style="font-size:12px" >{{p9a.housingNetValue}}</td>
                  <td style="font-size:12px" >{{p9a.totalGrossPay}}</td>
                  <td style="font-size:12px">{{p9a.definedContributionRetirementScheme.E1}}</td>
                   <td style="font-size:12px">{{p9a.definedContributionRetirementScheme.E2}}</td>
                    <td style="font-size:12px">{{p9a.definedContributionRetirementScheme.E3}}</td>
                  <td style="font-size:12px">{{p9a.ownerOccupiedInterest}}</td>
                  <td style="font-size:12px" >{{p9a.retirementContributionAndOwnerOccupiedInterest}}</td>
                  <td style="font-size:12px">{{p9a.chargeablePay}}</td>
                  <td style="font-size:12px">{{p9a.taxCharged}}</td>
                  <td style="font-size:12px">{{p9a.personalRelief}}</td>
                  <td style="font-size:12px">{{p9a.insuranceRelief}}</td>
                  <td style="font-size:12px">{{p9a.payeTax}}</td>

                 
               </tr>
         
             
            
              
               <tr>  

                  <td style="font-size:12px"  colspan="4"> To be completed by the Employer at end of year </td>
                  <td style="font-size:12px"  colspan="4"></td>
                  <td style="font-size:12px"  colspan="2"> TOTAL TAX (COL L) Kshs.    
                   </td>
                    <td style="font-size:12px"  colspan="2"> {{p9as.totalTaxCollected}}   
                   </td>
                  
               </tr>
                <tr>  

                  <td style="font-size:12px"  colspan="3"> TOTAL CHARGEABLE PAY (COL H) Kshs </td>
                  <td style="font-size:12px"  colspan="2">{{p9as.totalChargeablePay}}</td>
                  <td style="font-size:12px"  colspan="3"></td>
                   <td style="font-size:12px"  colspan="1"> (B) Attach </td>
                  <td style="font-size:12px"  colspan="6">(i) Photostat copy of interest certificate and statement of account from the Financial Institution.</td>
                  
               </tr>
               <tr>  

                  <td style="font-size:12px"  colspan="8">  </td>
                   <td style="font-size:12px"  colspan="1">  </td>
                  <td style="font-size:12px"  colspan="6">(ii) The DECLARATION duly signed by the employee</td>
                  
               </tr>           

             
              
              
            
             
              
                 
           </tbody>
           <tbody>
            <tr>
                  <td style="font-size:12px" height="30"  colspan="15"></td>
                  
               </tr>

               
                <tr>  

                  <td style="font-size:12px"  colspan="15"><b>IMPORTANT</b>  </td>
                   
               </tr>
               <tr>
                  <td style="font-size:12px" >Use P9A</td>
                  <td style="font-size:12px" colspan="7">(a) For all liable employees and where the director/employee received benefits in addition to cash emoluments.</td>
                  <td style="font-size:12px" colspan="7">NAMES OF FINANCIAL INSTITUTION ADVANCING MORTGAGE LOAN 
                     
</td>
                 
               </tr>
               <tr>
                  <td style="font-size:12px" ></td>
                  <td style="font-size:12px" colspan="7"> (b) Where an employee is eligible to deduction on owner occupied interest.</td>
                  
               </tr>
               <tr>
                  <td style="font-size:12px" >2. (a)</td>
                  <td style="font-size:12px" colspan="7"> Allowable interest in respect of any month must not exceed Kshs, 12,500/= or Kshs. 150,000 per year.</td>
                  
               </tr>
                  <tr>
                  <td style="font-size:12px" colspan="15" height="30"></td>
                  
                  
               </tr>
                   <tr>
                  <td style="font-size:12px" colspan="8" ></td>
                  <td style="font-size:12px" colspan="3"> <b>L.R. NO. OF OWNER OCCUPIED PROPERTY:</b></td>
                  <td style="font-size:12px" colspan="4"> </td>
                  
               </tr>
                <tr>
                  <td style="font-size:12px" colspan="15" height="30"></td>
               </tr>
              <tr>
                  <td style="font-size:12px" colspan="8" ></td>
                  <td style="font-size:12px" colspan="3"> <b>DATE OF OCCUPATION OF HOUSE:</b></td>
                  <td style="font-size:12px" colspan="4"> </td>
                  
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="15"> <h4> INFORMATION REQUIRED FROM EMPLOYER AT END OF YEAR : 2014 </h4></td>
                 </tr>
                 <tr>
                  <td style="font-size:12px" colspan="15" height="30"></td>
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="4" >(1)  Date Employee commenced if during the Year:</td>  
                  <td style="font-size:12px" colspan="2" ></td> 
                  <td style="font-size:12px" colspan="9" ></td>    
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="4" >Name and Address of Old Employer:</td>  
                  <td style="font-size:12px" colspan="2" ></td> 
                  <td style="font-size:12px" colspan="9" ></td>    
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="4" >(2)  Date left if during Year:</td>  
                  <td style="font-size:12px" colspan="2" ></td> 
                  <td style="font-size:12px" colspan="9" ></td>    
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="4">(3)  Where housing is provided, state monthly rent:</td>  
                  <td style="font-size:12px">   </td> 
                  <td style="font-size:12px">   Charged Kshs </td> 
                  <td style="font-size:12px">   </td> 
                  <td style="font-size:12px">per month</td> 
                  <td style="font-size:12px" colspan="7" ></td>

               </tr>
               <tr>
                  <td style="font-size:12px" colspan="15" height="30"></td>
               </tr>

               <tr>
                  <td style="font-size:12px" colspan="4">
(4)  Where any of the pay relates to a period other than
       this year, e.g. gratuity, give details of Amounts, Year
       and Tax.</td>  
                  <td style="font-size:12px" colspan="3" >  <table class="table table-bordered">
            <thead>
               <tr>
                  <th >Year</th>
                  <th colspan="2">Amount</th>
                 
                  
               </tr>
               <tr>
                  <th ></th>
                  <th> £</th>
                 
                  <th> Sh.</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td style="font-size:12px">20</td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  
               </tr>
               <tr>
                  <td style="font-size:12px">20</td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                 
               </tr>
               <tr>
                  <td style="font-size:12px">20</td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                 
               </tr>
               <tr>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px"></td>
                  
               </tr>
            </tbody>
         </table>
          </td> 
          <td style="font-size:12px"></td>
               <td style="font-size:12px" colspan="8" >  <table class="table">
            
            <tbody>
               <tr>
                  <td style="font-size:12px" colspan="8">Where actual cost is higher than given monthly rates of benefits then the actual cost is brought to charge in full.</td>
               
                  
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="8">LOW INTEREST RATE BELOW PRESCRIBED RATE OF INTEREST.</td>
               
                 
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="4">EMPLOYERS LOAN  =  Kshs</td>
                  <td style="font-size:12px">0.00</td>
                  <td style="font-size:12px">@</td>
                 <td style="font-size:12px">0.00</td>
                  <td style="font-size:12px">%  RATE</td>
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="6">RATE DIFFERENCE (PRESCRIBED RATE - EMPLOYERS RATE) =</td>
                  <td style="font-size:12px">0.00</td>
                  <td style="font-size:12px">% </td>
                 
               </tr>

               <tr>
                  <td style="font-size:12px" colspan="5">MONTHLY BENEFIT (RATE DIFFERENCE X LOAN) =</td>
                  <td style="font-size:12px">0.00</td>
                  <td style="font-size:12px">% </td>
                  <td style="font-size:12px"> </td>
                 
               </tr>
            </tbody>
         </table>
          </td> 
            

               </tr>
               <tr>
                  <td style="font-size:12px" colspan="15" height="30"></td>
               </tr>

               <tr>
                  <td style="font-size:12px" colspan="7" >FOR MONTHLY RATES OF BENEFITS PLEASE REFER TO EMPLOYERS GUIDE TO P.A.Y.E. SYSTEM - P7</td>
                  <td style="font-size:12px" colspan="7" ></td>
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="15" height="30"></td>
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="7" >CALCULATION OF TAX ON BENEFITS</td>
                  <td style="font-size:12px" ></td>
                  <td style="font-size:12px" colspan="7" >MOTOR CARS</td>
               </tr>
               <tr>
                  
                  <td style="font-size:12px" colspan="7" >  <table class="table table-bordered">


            <thead>
               <tr>
                  <th  colspan="3" >BENEFIT</th>
                  <th >NO.</th>
                 <th >RATE</th>
                  <th >NO. OF MONTHS</th>
                  <th >TOTAL AMOUNT</th>
                 
                  
               </tr>
               
            </thead>
            <tbody>
               <tr>
                  <td style="font-size:12px" colspan="3">Housing Benefit</td>
                  <td style="font-size:12px"></td>
                  <td style="font-size:12px">175000</td>
                  <td style="font-size:12px">12</td>
                  <td style="font-size:12px">2100000</td>
               </tr>
              
              
      
            </tbody>
         </table>
          </td> 
          <td style="font-size:12px"></td>
               <td style="font-size:12px" colspan="7" >  <table class="table table-bordered">


            <thead>
               <tr>
                  <th  colspan="2" >Saloon Hatch Backs and Estates</th>
                  <th >RATE</th>
                 <th ></th>
                  <th >NO. OF MONTHS</th>
                  <th ></th>
                  <th >TOTAL AMOUNT</th>
                 
                  
               </tr>
               
            </thead>
            <tbody>
               <tr>
                  <td style="font-size:12px">0-</td>
                 <td style="font-size:12px">1200 cc</td>
                  <td style="font-size:12px">175000</td>
                   <td style="font-size:12px">*</td>
                  <td style="font-size:12px">12</td>
                  <td style="font-size:12px">=</td>
                  <td style="font-size:12px">2100000</td>
               </tr>
              <tr>
                  <td style="font-size:12px">0-</td>
                 <td style="font-size:12px">1200 cc</td>
                  <td style="font-size:12px">175000</td>
                   <td style="font-size:12px">*</td>
                  <td style="font-size:12px">12</td>
                  <td style="font-size:12px">=</td>
                  <td style="font-size:12px">2100000</td>
               </tr>
               <tr>
                  <td style="font-size:12px">0-</td>
                 <td style="font-size:12px">1200 cc</td>
                  <td style="font-size:12px">175000</td>
                   <td style="font-size:12px">*</td>
                  <td style="font-size:12px">12</td>
                  <td style="font-size:12px">=</td>
                  <td style="font-size:12px">2100000</td>
               </tr>
               <tr>
                  <td style="font-size:12px">0-</td>
                 <td style="font-size:12px">1200 cc</td>
                  <td style="font-size:12px">175000</td>
                   <td style="font-size:12px">*</td>
                  <td style="font-size:12px">12</td>
                  <td style="font-size:12px">=</td>
                  <td style="font-size:12px">2100000</td>
               </tr>
               <tr>
                  <td style="font-size:12px">0-</td>
                 <td style="font-size:12px">1200 cc</td>
                  <td style="font-size:12px">175000</td>
                   <td style="font-size:12px">*</td>
                  <td style="font-size:12px">12</td>
                  <td style="font-size:12px">=</td>
                  <td style="font-size:12px">2100000</td>
               </tr>
             <tr>
               <td style="font-size:12px" colspan="7" height="30"></td>
                
               </tr>
              <tr>
                  <td style="font-size:12px" colspan="7" height="30"></td>
                
               </tr>



               <tr>
                  <td style="font-size:12px" colspan="5" >TOTAL BENEFIT IN YEAR</td>
                  <td style="font-size:12px" colspan="3">2100,000</td>
                
               </tr>

               <tr>
                  <td style="font-size:12px" colspan="7" >If this amount does not agree with total of Col. B overleaf, attach explanation.</td>
                 
                
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="7" >FOR PICK_UPS, PANEL VANS AND LAND_ROVERS REFER TO APPENDIX 5 OF EMPLOYER'S GUIDE</td>
                 
                
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="7" >CAR BENEFIT - The higher amount of the fixed monthly rate of the prescribed rate of benefits is to be brought to charge:-</td>
                  
                
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="2" > PRESCRIBED RATE</td>
                  <td style="font-size:12px" colspan="5" > 1998  -  2% per month of the initial cost of the vehicle.</td>
                  
                
               </tr>
               <tr>
               <td style="font-size:12px" colspan="7" height="30"></td>
                
               </tr>
              <tr>
                  <td style="font-size:12px" colspan="7" height="30"></td>
                
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="7" > EMPLOYER'S CERTIFICATE OF PAY AND TAX</td>
                
                  
                
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="2" > NAME</td>
                  <td style="font-size:12px" colspan="5" > </td>
               </tr>
              <tr>
                  <td style="font-size:12px" colspan="2" > ADDRESS</td>
                  <td style="font-size:12px" colspan="5" > </td>
               </tr>
                <tr>
                  <td style="font-size:12px" colspan="2" > SIGNATURE</td>
                  <td style="font-size:12px" colspan="5" > </td>
               </tr>
              <tr>
                  <td style="font-size:12px" colspan="2" > DATE & STAMP</td>
                  <td style="font-size:12px" colspan="5" > </td>
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="7" height="30"></td>
                
               </tr>
               <tr>
                  <td style="font-size:12px" colspan="2" > Note:</td>
                  <td style="font-size:12px" colspan="5" > Employer's certificate to be signed by the person who prepares and submits to the PAYE End of Year Returns and copy of the P9A to be issued to the employee in January.</td>
               </tr>
            </tbody>
         </table>
          </td> 
            

               
               </tbody></table>


<br/>


         
      </div>
    
      <hr class="hidden-print" />
      <div class="clearfix">
         
         <button class="btn btn-info pull-left mr" type="button" onclick="window.print();">Print</button>
         <button class="btn btn-success pull-left mr" type="button">Excel</button>
      </div>
   </div>
</div>
</div>