
<h3>Payslip</h3>

<div  ng-controller="PayslipController" >
   
       

   <div class="col-lg-12" style="float:left;">
      <form class="form-inline">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">Period</div>
  
         <select name="period" class="slider slider-lg form-control" ng-model="user.period" ng-options="period.id as period.period+' - '+period.monthDescription+' '+peiod.year for period in periods"  >
        <option value="" disabled selected>Periods</option>
  </select>
  </div>

  <button type="submit" ng-click="searchPayslip(user)" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
<div class="col-lg-2 text-right" style="float: right;" ng-show="persons.length" >
               


            
             </div>

</form>
  
   </div>
 


<br/>
<br/>
<div>
    



   <div >

      <!-- START widget-->
      <div ng-repeat="payslip in persons">
         <div   id="printable" style="background-color:#fff; padding:20px;">

        <table style="background-color:#fff; margin:auto;">

            <tr >
              <td  style="width:100%; text-align: center; font-weight: bold; font-size: 18px;" colspan="4">{{payslip.employer.employerName}}</td>
            </tr>                              
<tr >
              <td  style="width:100%; text-align: center; font-weight: bold; font-size: 18px; color:green;" colspan="4">Payslip</td>
            </tr>                
            <tr >
            <td class="text-right" style="width:10%;"></td>  
              <td class="boldTotal" style="width:40%;">Employee NO </td>
              <td  style="width:50%; text-align: left;" colspan="2">{{payslip.payslipInfo.employeeNumber}}</td>
 
              
            </tr>
            <tr>
                          <td class="text-right" style="width:10%;"></td>  
                        <td class="boldTotal" style="width:40%;"> Employee Name </td>
                      <td class="text-right" style="width:50%; text-align: left;" colspan="2">{{payslip.payslipInfo.employeeName}}</td>
 
                                 
            </tr>

                     <tr >
                   <td class="text-right" style="width:10%;"></td>  
                        <td class="boldTotal" style="width:40%;"> Pin Number </td>
                      <td class="text-right" style="width:50%; text-align: left;" colspan="2">{{payslip.payslipInfo.pinNumber}}</td>

                      
            </tr>
            <tr>                  
            <td class="text-right" style="width:10%;"></td>   
                        <td class="boldTotal" style="width:40%;"> NSSF Number </td>
                      <td class="text-right" style="width:50%; text-align: left;" colspan="2">{{payslip.payslipInfo.nssfNumber}}</td>
 
                   
                      
                    </tr>
 
                     <tr >
                   <td class="text-right" style="width:10%;"></td>  
                        <td class="boldTotal" style="width:40%;"> NHIF Number </td>
                      <td class="text-right" style="width:50%; text-align: left;" colspan="2">{{payslip.payslipInfo.nhifNumber}}</td>
 
                   
            </tr>
            <tr>         
            <td class="text-right" style="width:10%;"></td>               
                 <td class="boldTotal " style="width:40%;"> Pay Period </td>
                      <td class="text-right" style="width:50%;  text-align: left;" colspan="2">{{payslip.payslipInfo.period.month}} {{payslip.payslipInfo.period.year}}</td>
      
                     
                      
                    </tr>
            <tr>         
            <td class="text-right" style="width:10%;"></td>               
                 <td class="boldTotal " style="width:40%;"> Bank</td>
                      <td class="text-right" style="width:50%;  text-align: left;" colspan="2">{{payslip.payslipInfo.bankName}}</td>
      
                     
                      
                    </tr>
            <tr>         
            <td class="text-right" style="width:10%;"></td>               
                 <td class="boldTotal " style="width:40%;">Account Number</td>
                      <td class="text-right" style="width:50%;  text-align: left;" colspan="2">{{payslip.payslipInfo.accountNumber}}</td>
      
                     
                      
                    </tr>                                       

                         <tr>
                          <td class="text-right" style="width:10%;"></td>  
                      <td class="boldTotal " style="width:40%; color:green;"> Earnings</td>
              <td class="text-right" style="width:40%;"></td>
              <td class="text-right" style="width:10%;"></td>  

            </tr>


                     <tr ng-repeat="earning in payslip.earnings.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                     <td class="text-right" style="width:10%;"></td>  
                        <td class="" style="width:40%;">{{earning.description}}</td>
                        <td class="text-right" style="width:40%;">{{earning.amount}}</td>

              <td class="text-right" style="width:10%;"></td>                        
                     </tr>


                       <tr>
                        <td class="text-right" style="width:10%;"></td>  
                     <!--    <td >{{payslipcode.code}}</td> -->
                        <td class="boldTotal" style="width:40%;" >Gross Pay</td>
                        <td class="boldTotal text-right" style="width:40%;" >{{payslip.grossPay}}</td>
    
              <td class="text-right" style="width:10%;"></td>                        
                     </tr>
      
        
                    <tr>
                      <td class="text-right" style="width:10%;"></td>  
                      <td class="boldTotal" style="color:green; "> Tax Calculations</td>
                    
                    </tr>

          <tr ng-repeat="tax in payslip.taxCalculations.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                     <td class="text-right" style="width:10%;"></td>  
                        <td class="" style="width:40%;">{{tax.description}}</td>
                        <td class="text-right" style="width:40%;">{{tax.amount}}</td>

              <td class="text-right" style="width:10%;"></td>                        
                     </tr>

                     <tr style="width:100%">
                      <td class="text-right" style="width:10%;"></td>  
                      <td class="boldTotal" style="color:green;"> Deductions</td>
                    
                    </tr>
                     <tr ng-repeat="deduction in payslip.deductions.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                     <td class="text-right" style="width:10%;"></td>  
                        <td  style="width:40%;">{{deduction.description}}</td>
                        <td style="text-align: right;" class="justify_right" style="width:40%;">{{deduction.amount}}</td>
                                 <td class="text-right" style="width:10%;"></td>  
                     </tr>
         <tr>
          <td class="text-right" style="width:10%;"></td>  
                         <td class="boldTotal" style="width:40%;">Total Deduction</td>
                        <td class="boldTotal text-right" style="width:40%;">{{payslip.totalDeduction}}</td>

              <td class="text-right" style="width:10%;"></td>                        
                    </tr>
                      
  
                    

                       <tr>
                     <!--    <td >{{payslipcode.code}}</td> -->
                     <td class="text-right" style="width:10%;"></td>  
                        <td class="boldTotal" style="width:40%; ">Net Pay</td>
                        <td class="boldTotal text-right" style="width:40%;">{{payslip.netPay}}</td>
              <td class="text-right" style="width:10%;"></td>
                       
                     </tr>
             
 
                    <tr style="width:100%">
                      <td class="text-right" style="width:10%;"></td>  
                      <td class="boldTotal" style="color:green;"> Benefits</td>
                    
                    </tr>
                    <tr ng-repeat="benefit in payslip.benefits.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                     <td class="text-right" style="width:10%;"></td>  
                        <td class="" style="width:40%;" >{{benefit.description}}</td>
                        <td  class="text-right" style="width:40%;">{{benefit.amount}}</td>

              <td class="text-right" style="width:10%;"></td>                        
                     </tr>

                       <tr ng-repeat="benefit in payslip.benefits.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                     <td class="text-right" style="width:10%;"></td>  
                        <td class="boldTotal " style="width:40%; color:green;">Total Benefits</td>
                        <td  class="boldTotal text-right" style="width:40%;">{{payslip.totalBenefits}}</td>

              <td class="text-right" style="width:10%;"></td>                        
                     </tr>

                    <tr style="width:100%">
                      <td class="text-right" style="width:10%;"></td>  
                      <td class="boldTotal " style="width:40%; color:green;"> Company Contribution</td>
                    
                    </tr>
                    <tr ng-repeat="contributions in payslip.companyContributions
.payslipCodeList">
                     <!--    <td >{{payslipcode.code}}</td> -->
                     <td class="text-right" style="width:10%;"></td>  
                        <td class="" style="width:40%;">{{contributions.description}}</td>
                        <td  class="text-right" style="width:40%;">{{contributions.amount}}</td>

              <td class="text-right" style="width:10%;"></td>                        
                     </tr>


           <tr>         
            <td class="text-right" style="width:10%;"></td>               
                 <td class="boldTotal " style="width:40%;">Approved By</td>

      
                     
                      
                    </tr>

           <tr>         
            <td class="text-right" style="width:10%;"></td>               
                 <td class="boldTotal " style="width:40%;">Name</td>
                      <td class="text-right" style="width:50%;  text-align: left;" colspan="2">..........................................</td>
      
                     
                      
                    </tr>

           <tr>         
            <td class="text-right" style="width:10%;"></td>               
                 <td class="boldTotal " style="width:40%;">Signature</td>
                      <td class="text-right" style="width:50%;  text-align: left;" colspan="2">..........................................</td>
      
                     
                      
                    </tr>

           <tr>         
            <td class="text-right" style="width:10%;"></td>               
                 <td class="boldTotal " style="width:40%;">Date</td>
                      <td class="text-right" style="width:50%;  text-align: left;" colspan="2">..........................................</td>
      
                     
                      
                    </tr>                                                            
    

           
                  </tbody>
               </table>

 

<div class="clearfix">
           
      
           <button class="btn btn-info pull-left mr" type="button" ng-click="printDiv('printable');"">Print</button>
     
        </div>
      </div>
         </div>
         
      </div>

       
      <!-- END widget-->


   </div>
   
 
</div>
</div>


 
        
   